* {
	margin: 0px;
	padding: 0px;
	font-family:"Palatino Linotype", Palatino, serif;
	border: solid;
}

/*
body {
	background-image: url("");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: right bottom;
}
*/

p {
	margin: 5px auto 5px auto;
	max-width: 700px;
}

p.blog {
}

p.about {
	max-width:600px;
}

a {
	text-decoration: none;
}

a:visited {
	color: grey;
}

a.green:hover {
	color: #66FF99;
}

a.red:hover {
	color: #FF0000;
}

a.blue:hover {
	color: #0099FF;
}

a.purple:hover {
	color: #9933FF;
}

a.black:hover {
	color: #222222;
}

/* Used for menu items */
#navbar {   /*exclusively for nav bar */
	position: fixed;
	padding: 10px 0px 10px 0px;
	height: 30px; 
	width: 100%;
	color: grey;
	background-color: white;
	border-bottom: solid;
	border-color: black;
}
	
#navbar ul li {   /* padding is between content and border, margin is outside of border */
	display: inline;
}

#home-button {
	font-size: 24px;
	margin:0px 10px 0px 10px;
}

#left-menu-item {
	float: left;
}

#right-menu-item {
	float: right;
	padding:6px 0px 0px 0px;
}
	
#right-menu-item li {
	margin:10px 40px 0px 5px;
}
	
#about-picture {
	margin:100px auto;
	border: solid;
	border-color: black;
	border-width: 6px;
}
		

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
h1 {
