* {
	margin: 0px;
	padding: 0px;
	font-family:"Palatino Linotype", Palatino, serif;
}

iframe {
	width = 500px;
	height = 350px;
}

p {	
	max-width:700px;
	margin-left: auto;
	margin-right: auto;
}

p.project {
    max-width:700px;
    margin-left: auto;
    margin-right: auto;
}

p.about {
	margin-bottom:20px;
}

p.contact {
	margin-bottom:20px;
} 

a {
	text-decoration: none;
	color: inherit;
}

a:visited {
	color: grey;
}

a.green:hover {
	color: #66FF99;
}

a.red:hover {
	color: #FF0000;
}

a.blue:hover {
	color: #0099FF;
}

a.purple:hover {
	color: #9933FF;
}

a.yellow:hover {
	color: #DAA520;
}

a.black:hover {
	color: #222222;
}

a.bluelink:visited {
	color:blue;
} 

/* Used for menu items */
#navbar {   /*exclusively for nav bar */
	position: fixed;
	padding: 10px 0px 10px 0px;
	height: 30px; 
	width: 100%;
	color: grey;
	background-color: white;
	border-bottom: solid;
	border-color: black;
}
	
#navbar ul li {   /* padding is between content and border, margin is outside of border */
	display: inline;
}

#home-button {
	font-size: 24px;
	margin:0px 10px 0px 10px;
}

#left-menu-item {
	float: left;
}

#right-menu-item {
	float: right;
	padding:6px 0px 0px 0px;
}
	
#right-menu-item li {
	margin:10px 40px 0px 5px;
}
	
#about-picture {
	margin-top: 100px;
	margin-bottom: 20px;

	width: 100%;
	max-width: 250px;
	
	border: solid;
	border-color: black;
	border-width: 6px;
}

#about-github {
	color: #FF0000;
	font-size: 20px;
}

#about-projects {
	color: #0099FF;
	font-size: 20px;
}

#contact-picture {
	margin-top: 100px;
        margin-bottom: 20px;

        width: 100%;
        max-width: 450px;

        border: solid;
        border-color: black;
        border-width: 6px;
}

#contact-linkedin {
	color: green;
        font-size: 20px;
}

#contact-quora {
        color: red;
        font-size: 20px;
}

#contact-twitter {
        color: blue;
        font-size: 20px;
}

#contact-mail {
	color: purple;
	font-size: 20px;
}

#contact-github {
	color: #DAA520;
	font-size: 20px;
}

#title {
	font-size:50px;
    max-width:700px;
	margin: 0 auto 0 auto;
}

#date {
	font-size:32px;
	max-width:700px;
    margin-left: auto;
    margin-right: auto;
}

#project-body {
    max-width:700px;
    margin-left: auto;
    margin-right: auto;
}

#blue-link {
	text-decoration: underline;
	text-color: blue;
}
